<h3 class="pb-3">Log Of Each Task I've Completed:</h3>
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Task Name</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Total Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task_log of task_logs; let i = index">
        <th scope="row">{{ task_log.task_name }}</th>
        <td>{{ task_log.start_time | date: "short" }}</td>
        <td>{{ task_log.end_time | date: "short" }}</td>
        <td>{{ task_log.total_time }}</td>
        <td style="white-space: nowrap">
          <button
            type="button"
            class="btn btn-danger"
            (click)="onTaskLogDeleteClick(i)"
          >
            Delete
          </button>
        </td>
      </tr>
      <tr *ngIf="!task_logs">
        <td colspan="4" class="text-center">
          <span class="spinner-border spinner-border-lg align-center"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<script src="node_modules/moment/moment.js"></script>
