<ul *ngFor="let user of users">
  <li>
    {{ user.user_id }} || {{ user.first_name }} || {{ user.last_name }} ||
    {{ user.email }}|| {{ user.password }} || {{ user.role_name }} ||
    {{ user.date_created | date }} || {{ user.last_login | date }}
  </li>
</ul>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Role</th>
      <th scope="col">Date Created</th>
      <th scope="col">Last Login</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{ user.user_id }}</th>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.password }}</td>
      <td>{{ user.role_name }}</td>
      <td>{{ user.date_created | date }}</td>
      <td>{{ user.last_login | date }}</td>
      <td><button (click)="deleteUser(user.user_id)">Delete</button></td>
    </tr>
  </tbody>
</table>
