<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Role</th>
      <th scope="col">Date Created</th>
      <th scope="col">Last Login</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{ user.user_id }}</th>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.password }}</td>
      <td>{{ user.role_name }}</td>
      <td>{{ user.date_created | date }}</td>
      <td>{{ user.last_login | date }}</td>
      <td style="white-space: nowrap">
        <a
          routerLink="edit/{{ user.user_id }}"
          class="btn btn-sm btn-primary mr-1"
          >Edit</a
        >
        <button
          (click)="deleteUser(user.user_id)"
          class="btn btn-sm btn-danger btn-delete-user"
        >
          Delete
        </button>
      </td>
    </tr>
    <tr *ngIf="!users">
      <td colspan="4" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
  </tbody>
</table>
