<div class="row width">
  <div class="col-sm p-4 f0">
    <div class="textwrap-left">
      <img src="assets/img/timeDetective_200.png" />
    </div>

    <h1>Welcome to Time Detective</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi alias
      repellendus velit reiciendis a cumque quisquam natus minima eius vitae,
      quae temporibus expedita consequatur iusto. Aut dicta praesentium debitis
      laborum?
    </p>
    <div>
      <a href="/user/register" class="btn btn-blue">Sign Up</a>
    </div>
  </div>
</div>

<div class="row width">
  <div class="col-sm p-4 f1">
    <h2>Feature #1</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima eum nobis
      veritatis deserunt libero maxime consectetur enim recusandae velit omnis.
      Cum soluta deserunt ab, ipsum id itaque pariatur sint culpa?
    </p>
  </div>
  <div class="col-sm p-4 f2">
    <h2>Feature #2</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima eum nobis
      veritatis deserunt libero maxime consectetur enim recusandae velit omnis.
      Cum soluta deserunt ab, ipsum id itaque pariatur sint culpa?
    </p>
  </div>
  <div class="col-sm p-4 f3">
    <h2>Feature #3</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima eum nobis
      veritatis deserunt libero maxime consectetur enim recusandae velit omnis.
      Cum soluta deserunt ab, ipsum id itaque pariatur sint culpa?
    </p>
  </div>
</div>
