@import "../../../../styles.scss";

.footer {
  background-color: $purple;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.footer-text {
  color: $white;
  opacity: 0.5;
}

a.footer {
  color: $white;
}
