<h3 class="p-2">Tasks I'm Tracking:</h3>

<div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Task Name</th>
        <th>Started Tracking</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; let i = index">
        <th scope="row">{{ task.task_name }}</th>
        <th>{{ task.date_created | date: "shortDate" }}</th>
        <td style="white-space: nowrap">
          <button
            type="button"
            class="btn btn-danger trigger-btn"
            (click)="onDeleteClick(i)"
          >
            Delete
          </button>
        </td>
      </tr>
      <tr *ngIf="!tasks">
        <td colspan="4" class="text-center">
          <span class="spinner-border spinner-border-lg align-center"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="p-3"></div>

<div>
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-success"
    data-bs-toggle="modal"
    data-bs-target="#addTaskModal"
  >
    Track A New Task
  </button>
</div>

<!--add task modal -->
<div
  class="modal fade"
  id="addTaskModal"
  data-bs-backdrop="static"
  tabindex="-1"
  role="dialog"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Track A New Task</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form">
          <div class="form-group">
            <label class="lbl" for="task_name"> Task Name: </label>
            <input
              class="inputbox"
              type="text"
              name="task_name"
              [(ngModel)]="newTask.task_name"
              autofocus
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
          (click)="onSaveClick()"
        >
          Track Task
        </button>
      </div>
    </div>
  </div>
</div>

<!-- delete confirmation modal -->
<div id="deleteConfirm" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Are You Sure?</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-hidden="true"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <p>
          Do you really want to delete this task? This process cannot be undone.
        </p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" id="delete" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
