<div>
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-success"
    data-toggle="modal"
    data-target="#addTaskModal"
  >
    Track A New Task
  </button>
</div>

<div *ngFor="let task of tasks; let i = index">
  <form>
    <input
      class="inputbox"
      type="text"
      name="task_name"
      [(ngModel)]="task.task_name"
      value=" {{ task.task_name }} "
    />
    <button type="button" class="btn btn-danger" (click)="onDeleteClick(i)">
      Delete
    </button>
  </form>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="addTaskModal"
  data-backdrop="static"
  tabindex="-1"
  role="dialog"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Track A New Task</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form">
          <div class="form-group">
            <label class="lbl" for="task_name"> Task Name: </label>
            <input
              class="inputbox"
              type="text"
              name="task_name"
              [(ngModel)]="newTask.task_name"
              autofocus
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-success"
          data-dismiss="modal"
          (click)="onSaveClick()"
        >
          Track Task
        </button>
      </div>
    </div>
  </div>
</div>
