// import bootstrap css
//@import "~bootstrap/dist/css/bootstrap.css";

$purple: #ab2d64;
$yellow: #f9b438;
$orange: #f25e46;
$blue: #2e68e6;
$gray: #333;
$white: white;

@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

nav {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

p {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  color: $gray;
}

h1 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 2.25rem;
  color: $gray;
}

h1.title {
  color: white;
}

h2 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.75rem;
  color: $gray;
}

h3 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: $gray;
}

.f0 {
  background-color: $white;
  border: 2px $blue solid;
  border-radius: 5px;
  margin-left: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.f1 {
  background-color: $white;
  border: 2px $yellow solid;
  border-radius: 5px;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.f2 {
  background-color: $white;
  border: 2px $orange solid;
  border-radius: 5px;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.f3 {
  background-color: $white;
  border: 2px $purple solid;
  border-radius: 5px;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.textwrap-left {
  float: left;
  margin: 10px;
}

.textwrap-right {
  float: right;
  margin: 10px;
}

.btn-blue {
  background-color: $blue;
  color: $white;
  width: 15rem;
}

.btn-purple {
  background-color: $purple;
  color: $white;
  width: 15rem;
}

.bg-purple {
  background-color: $purple;
  color: $white;
}

.inline-card {
  display: inline-block;

  overflow: hidden;
}

.width {
  width: 98%;
  margin-left: 1px;
}

.wrapper {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* ------ HEADER ------ */
.header {
  background-color: $purple;
  color: $white;
}

a.header {
  color: $white;
}

/* ------ FOOTER ------ */
.footer {
  background-color: $purple;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.footer-text {
  color: $white;
  opacity: 0.5;
}

a.footer {
  color: $white;
}
